@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Open+Sans:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0px;
}

html {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;   
}

/* NAVBAR CSS */
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: aqua;
    height: 3.5em;
    font-size: 1.2em;
}

.navbar ul {
    list-style: none;
}

.navbar li {
    display: inline;
    margin: 0.25em;
}


/* Container One CSS */
.container {
    background-color: red;
    height: 100%;
    display: flex;
    min-height: 40em;
    align-items: center;
}

.container h1 {
    margin-top: 0;

}

.heading {
    margin: 0 auto;
}

.heading h1 {
    font-size: 3em;
    width: 7em;
}

.left-header {
    border:1px solid black;
}

.btn {
    border-radius: 6px;
    font-size: 1em;
    font-weight: bold;
    background-color: #BF40BF;
    color: white;
    height: 3em;
    width: 7.5em;
}

